/* static/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #777;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}




.btn-create {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-create:hover {
    background-color: #2980b9;
}

.btn-back {
    display: block;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #555;
}



.content {
    max-width: 800px; /* Adjust the width as needed */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}

